body{
    margin-top: 5rem;
}
h1{
    font-size: 50px;
    color: #d40000cc;
}
h2{
    color: #d40000cc;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
}